<div class="flex flex-col p-2">
    <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold text-center ml-8 text-gray-700">Manage Todos</h1>
        <button class="rounded-full bg-gray-700 text-white p-3" (click)="openSlidePanel()">
            + Add todo
        </button>

    </div>
    <div class="m-8 bg-white shadow">
        @for (item of todos ; track $index){
            <app-todo-card [type]="item.status" [todo]="item"></app-todo-card>
        }
        
    </div>

</div>

<app-slide-panel [headerText]="'Todo Details'" [isOpen]="isSlidePanelOpen" (onClose)="onCloseSlidePanel()" class="relative" >
    <form action="" [formGroup]="todoForm">
        <div class="form-group mb-3">
            <label for="title" class="form-label m-3 text-gray-700 font-bold">Title</label>
            <input type="text" id="title" class="form-control rounded-lg p-2 w-full bg-gray-200" formControlName="title">
            @if(todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched) {
                <span class="form-error text-red-700"> Title is required</span>
            } 
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label m-3 text-gray-700 w-full font-bold">Description</label>
            <textarea id="description" class="form-control rounded-lg p-2 w-full bg-gray-200" formControlName="description" rows="10"></textarea>
            @if(todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched) {
                <span class="form-error text-red-700"> Description is required</span>
            } 
        </div>
        <div class="form-group mb-3">
            <label for="status" class="form-label m-3 text-gray-700 font-bold">Status</label>
            <select id="status" class="form-control rounded-lg p-2 bg-gray-200" formControlName="status">
                @for(item of todoStatus; track $index){
                <option [value]="item">{{item}}</option>
            }
            </select>
            <div class="flex flex-wrap justify-around mt-10 relative">
                <button type="submit" class="bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" (click)="onSumbit()">Submit</button>
                <button type="submit" class="bg-red-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" (click)="onCloseSlidePanel()"> Cancel </button>
            </div>
        </div>
    </form>
 
</app-slide-panel>